@require "app/styles/charte"



#homeVisiteur

  padding-top: 1.54em
  background-color: $bgPeche




.visiteur-img
  background-image: url('/images/Copie de andrew-pons-9713-unsplash.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top
  height: 40em





.visiteur-text-img
  font-family: $title
  font-size: 2em
  color: $color
  text-align: center
  padding : 1em



.visiteur-carte
  background-color: $bgPink
  color: $color
  padding-top: 1em
  padding-bottom: 1em
  width: 100%
  display: flex

.visiteur-carte-img
  height: 15em
  width: 40%
  margin-left: 1em
  margin-top: 1em
  background-image: url('/images/google-maps-par-defaut.jpg')
  background-size: contain
  background-repeat: no-repeat
  background-position: top

.visiteur-carte-text
  font-size: 2em
  width: 40%
  font-family: $text
  text-align: center
  padding-left: 2.5em
  padding-top: 1.5em


.visiteur-img2
  background-color: $bgOrange
  color: $color
  width: 100%
  display: flex

.visiteur-img2-text
  font-size: 2em
  width: 40%
  font-family: $text
  text-align: center
  padding-left: 1em
  padding-top: 2em
  padding-bottom: 2em
  margin-left: 1.5em


.visiteur-img2-img
  background-image: url(/images/tim-mossholder-599480-unsplash.jpg);
  background-size: contain
  background-repeat: no-repeat
  background-position: top
  height: 20em
  width: 50%
  margin-left: 2em
  margin-top: 1em


.visiteur-articles
  background-color: $bgPinkLigth
  height: 8em
  font-size: 2em
  color: $color
  padding-top: 0.5em
  padding-left: 1em


@media screen and (min-width: 500px)
  .visiteur-img
    height: 40em

  .visiteur-text-img
    font-size: 2em

  .visiteur-carte-img
    height: 15em


  .visiteur-carte-text
    font-size: 2em

  .visiteur-img2-text
    font-size: 2em
    padding-bottom: 0
    margin-bottom: 0
    margin-left: 1em
    padding-left: 0


  .visiteur-img2-img
    height: 20em
    margin-left: 2em
    padding-top: 0
    margin-top:0
//
@media screen and (min-width: 1200px)
  .visiteur-img
    height: 60em

  .visiteur-text-img
    font-size: 3em

  .visiteur-carte-img
    height: 28em
    margin-left: 7em


  .visiteur-carte-text
    font-size: 3em

  .visiteur-img2-text
    font-size: 3em



  .visiteur-img2-img
    height: 30em
    margin-left: 6em
    padding-top: 0
    margin-top: 0
