@require "app/styles/charte"
#messages
	height: 25em
	overflow-y: auto

	.message
		padding: .5rem 1rem
		border-radius: 0.5em
		margin-bottom: 0.2em
		background: #046380
		color: $color
		&-content
			font-size: 1em
			padding: .1em

		&-user
			font-style: bold
			font-size: 1rem

		&-date
			font-size: .5rem
			font-style: italic
		&--own
			background: #d3d3d3
			color: #000
