@require "app/styles/charte"

#NotFound
  height: 100vh
  background-image: url(/images/matthew-henry-20172-unsplash.jpg)
  background-size: cover;
  background-repeat: no-repeat
  background-position: top

  .title
      font-size: 4em
      color: $color
      position: absolute
      margin-top: 5em
      margin-left: 3em
      font-family: $title
