@require "app/styles/charte"

#notFound
  height: 80em
  background-image: url(/images/matthew-henry-20172-unsplash.jpg)
  background-size: cover;
  background-repeat: no-repeat
  background-position: top

.title
    font-size: 3em
    color: $color
    position: absolute
    margin-top: 4em
    margin-left: 0.3em
    font-family: $title

@media screen and (min-width: 500px)
  #notFound
    height: 69em

  .title
      font-size: 3em
      position: absolute
      margin-top: 4em
      margin-left: 1em



@media screen and (min-width: 1200px)
  #notFound
      height: 58.7em
  .title
      font-size: 5em
      position: absolute
      margin-top: 4em
      margin-left: 2em
