@require "app/styles/charte"

#homeMembre
  background: #135A7F
  display: block
  font-family: $text
  height: auto
  padding-top: 9em


.homeMembre-img
  background-image: url('/images/marcus-wallis-web.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border: 3px solid #dcdcdc
  height: 30em
  margin: auto
  width: 85%

.homeMembre-text
  color: $color
  font-family: $title
  font-size: 3em
  // padding: 1em
  text-align: center

.homeMembre-carte
  color: $color
  padding-bottom: 1em
  padding-top: 1em
  width: 100%

.homeMembre-carte-title
  color: $color
  font-family: $title
  font-size: 2.2em
  margin: 1em 0 .2em
  text-align: center
  margin-left: 2em

.homeMembre-carte-img
  background-image: url('/images/google-maps-par-defaut.jpg')
  background-position: top
  background-repeat: no-repeat
  background-size: contain
  height: 30em
  margin: auto
  width: 80%

.homeMembre-carte-texte
  color: $color
  font-family: $text
  font-size: 2em
  margin: 1em
  text-align: center
  line-height: 1.2em

.home-blog
  background: #F3F3F3;
  color: $colorB
  height: auto
  padding: 1em


.home-blog-title
  color: #135A7F
  font-size: 2.7em
  font-family: $title
  margin: 0.5em

.home-blog-post
  display: flex
  font-size: 0.8em
  flex-direction: column
  text-align: justify
  align-items: center

.post
  background-color: $color
  border-radius: 3px
  box-shadow: 0 1px 2px rgba(#000, 0.2)
  cursor: pointer
  height: 21em
  padding: 1em

  &:hover
    box-shadow: 0 4px 8px rgba(#000, 0.2)
  &-more
    text-align: right
    padding: 1em 0
    line-height:1.2em
  &-title
    font-size:1.5em
    padding: .5em 0
  &-category
    color: #3A677F
    font-size: 1em
    font-weight:bolder
    padding-top: .5em
    padding-bottom: 0.8em
    text-align:right
    text-transform: uppercase


@media screen and (min-width: 500px)

    .home-blog-post
      display: flex
      font-size: 1em
      text-align:left
    .post
      padding: 2.5em
      width: 100%
      height: 16em



@media screen and (min-width: 1200px)
  #homeMembre
    padding-top: 10em

  .homeMembre-img
    height: 50em

  .homeMembre-carte
    align-content: stretch
    align-items: flex-start
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start


  .homeMembre-carte-img
    align-self: center
    flex: 0 1 auto
    margin-left: 0
    margin-top: 1em
    order: 0
    width: 60%

  .homeMembre-carte-texte
    align-self: center
    flex: 0 1 auto
    font-size: 2.5em
    margin: 0
    margin-left: 0
    margin-right: 2em
    order: 0
    padding-left: 0
    width: 40%

  .home-blog-post
    display: flex
    font-size: 1em
    flex-direction: row
    text-align:left

  .post
    padding-right: 2.5em
    height: 22em
    width:98%
