@require "app/styles/charte"

#homeMembre
  background: linear-gradient($bgPeche, $bgPink, $bgOrange)
  display: block
  font-family: $text
  height: auto
  padding-top: 9em


.homeMembre-img
  background-image: url('/images/marcus-wallis-web.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border: 3px solid #dcdcdc
  height: 30em
  margin: auto
  width: 85%

.homeMembre-text
  animation: flash 5s infinite
  color: $color
  font-family: $title
  font-size: 3em
  // padding: 1em
  text-align: center

.homeMembre-carte
  color: $color
  padding-bottom: 1em
  padding-top: 1em
  width: 100%

.homeMembre-carte-title
  color: $color
  font-family: $title
  font-size: 2.2em
  margin: 1em 0 .2em
  text-align: center
  margin-left: 2em

.homeMembre-carte-img
  background-image: url('/images/google-maps-par-defaut.jpg')
  background-position: top
  background-repeat: no-repeat
  background-size: contain
  height: 30em
  margin: auto
  width: 80%

.homeMembre-carte-texte
  color: $color
  font-family: $text
  font-size: 2em
  margin: 1em
  text-align: center
  line-height: 1.2em

.home-blog
  color: $color
  height: auto
  padding: 2.5em


.home-blog-title
  font-size: 2.2em
  padding-bottom: 1em
  font-family: $title
  text-align: center
  margin: 1em


.home-blog-post
  margin: 2em
  display: flex
  font-size: 0.8em
  flex-direction: column
  text-align: justify

.post

  &-more
    text-align: right
    padding: 1em 0
  &-title
    font-size:1.5em
    padding: .5em 0
  &-category
    text-decoration: underline
    text-transform: uppercase
    font-size: 2em
    padding-top: .5em

@media screen and (min-width: 1200px)
  #homeMembre
    padding-top: 10em

  .homeMembre-img
    height: 50em

  .homeMembre-carte
    align-content: stretch
    align-items: flex-start
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start


  .homeMembre-carte-img
    align-self: center
    flex: 0 1 auto
    margin-left: 0
    margin-top: 1em
    order: 0
    width: 60%

  .homeMembre-carte-texte
    align-self: center
    flex: 0 1 auto
    font-size: 2.5em
    margin: 0
    margin-left: 0
    margin-right: 2em
    order: 0
    padding-left: 0
    width: 40%

  .home-blog-post
    display: flex
    font-size: 1em
    flex-direction: row;
    text-align:left
  .post
    padding-right: 2.5em
