@require "app/styles/charte"

#contact
	position: absolute
	top: 0
	right: 0
	border-radius: 10px
	margin: 10em auto
	background-color: $bgPinkPastel
	overflow: hidden
	color: #222
	height: 40vh
	width: 90vw
	padding: 1em
	&.contact
		display: none
	&.contact--open
		display: block
	&-submit
		background: $bgPinkLigth
		border: 0
		border-radius: 10px
		color: #fff
		font-size: 1em
		display: block
		text-transform: uppercase
		height: 3.3em
		width: 100%
	&-title
		font-family: 'Pacifico'
		font-size: 2em
		padding-bottom: .5em
#contactSend
	&.contact
		display: none
	&.contact--send
		font-family: 'Pacifico'
		font-size: 2em
		padding: .5em
		display: block

@media (min-width: 1024px)
	#contact
		max-width: 800px
		width: 80vw
		margin: 20vh 25vw
		height: 26em
