@require "app/styles/charte"

#contact
	position: fixed
	top: 0
	right: 0
	border: 3px solid $bgBlueDuck
	border-radius: 12px
	background: #f5f5f5
	margin: 10em 4em 10em 2em
	overflow: hidden
	color: #222
	height: auto
	width: 90%
	padding: 1em
	&.contact
		display: none
	&.contact--open
		display: block
	&-title
		font-family: $title
		font-size: 2em
		padding-bottom: .5em
		padding-left: 6em

#contactHead
	display: flex

#contactSend
	&.contact
		display: none
	&.contact--send
		font-family: $title
		font-size: 2em
		padding: .5em
		display: block

#contact-submit
#contact-send
	background: $bgBlueDuck
	border: 0
	border-radius: 10px
	color: #fff
	font-size: 1em
	display: block
	text-transform: uppercase
	height: 3.3em
	width: 100%
	margin-bottom: 1em
	&.contact
		display: none
	&.contact--send
		font-size: 1em
		padding: .5em
		display: block

#contactClose
	font-size: 2em
	color: $bgBlueDuck

@media (min-width: 1024px)
	#contact
		width: 70%
@media (min-width: 1200px)
	#contact
		width: 60vw
