@require "app/styles/charte"

#contact
	position: fixed
	top: 0
	right: 0
	border: 3px solid #046380
	border-radius: 12px
	background: #f5f5f5
	margin: 10em auto
	overflow: hidden
	color: #222
	height: 40vh
	width: 90vw
	padding: 1em
	&.contact
		display: none
	&.contact--open
		display: block
	&-title
		font-family: 'Pacifico'
		font-size: 2em
		padding-bottom: .5em
		padding-left: 6em

#contactHead
	display: flex

#contactSend
	&.contact
		display: none
	&.contact--send
		font-family: $title
		font-size: 2em
		padding: .5em
		display: block

#contact-submit
#contact-send
	background: #046380
	border: 0
	border-radius: 10px
	color: #fff
	font-size: 1em
	display: block
	text-transform: uppercase
	height: 3.3em
	width: 100%
	&.contact
		display: none
	&.contact--send
		font-size: 1em
		padding: .5em
		display: block

#contactClose
	font-size: 2em
	color: #046380

@media (min-width: 1024px)
	#contact
		max-width: 800px
		width: 80vw
		margin: 20vh 25vw
		height: 26em
