.navbar-menu {
  padding-top: 3em;

  a {
    border: solid 1px white;
    border-radius: 1em;
    margin-bottom: auto;
    margin-right: 4em;
    color: white;
    padding: 0.5em 1.5em;
  }
}
//
// .navbar-burger {
//   color: white;
//   padding-right: 9em;
// }
