body
    scroll-behavior: smooth

$bgPinkLigth = #FF0DFF
$bgGray = #5C6469
$bgPinkPastel= #EB89D6
$bgPink = #E80C7A
$bgRed = #FF0000
$bgPeche = #E82C0C
$bgNav = rgba(0, 0, 25, 0.5)
$bgOrange = #FF530D
$bgBlue = #196BDD
$border = #FFF
$color = #FFF
$bgBtn = #13A5B4

$bgSalmon = #E87E60

$colorBlue = #146193
$bgBlu = #4090EF


$title = 'Pacifico', cursive

$text = 'Roboto', sans-serif
