body
  scroll-behavior: smooth

$bgPinkLigth = #FF0DFF
$bgGray = #474E52
$bgPinkPastel= #EB89D6
$bgPink = #E80C7A
$bgRed = #FF0000
$bgPeche = #E82C0C
$bgNav = rgba(0, 0, 25, 0.5)
$bgOrange = #FF530D
$bgBlue = #196BDD
$border = #FFF
$color = #FFF
$bgBtn = #13A5B4
$bgGrayLigth = #474E52
$bgWhiteAlmost = #F5F5F5
$bgSalmon = #E87E60

$colorBlue = #146193
$bgBlu = #4090EF
$bgBlueDuck = #800047
// $bgBlueDuck = #046380
$bgBlack = #000
$bgLightGray = #D3D3D3
$bgWhite = #F1F1F1
$bgBlueSky = #0A71A4
$bgBlueHard = blue
$title = 'Pacifico', cursive
$text = 'Roboto', sans-serif
