@require "app/styles/charte"

#map
    background-color: $bgSalmon
    display: block
    flex-direction: column
    height: auto
    padding-top: 15em

.map-title
    color: $color
    font-family: $title
    font-size: 3em
    padding-bottom: 1em
    padding-top: .5em
    text-align: center

.map-image
    margin: 2em auto
    width: 80%


.map-addPlace
    border: 0
    border-radius: 2em
    font-size: 1.8em
    height: 2em
    margin-bottom: 2em
    margin-left: 3em
    padding-left: 1em
    width: 15em

.map-addPlace::placeholder
  color: $color
  padding-left: 1em

.map-icon
  background-color: $bgGrayLigth
  border-radius: 1.5em
  margin: 2em auto
  padding: 2em
  width: 25%

.map-table
  color: $color
  font-size: 1.5em
  padding-right:1em

.map-table img
  margin-right: .5em
