@require "app/styles/charte"

#map
    background-color: $bgBlu
    display: block
    flex-direction: column
    height: auto
    padding-top: 9em

.map-title
    color: $color
    font-family: $title
    font-size: 3em
    text-align: center

.map-image
    margin: 1em auto
    width: 90%
    display: flex

.map-google
  width: 85%

.map-addPlace
    border: 0
    border-radius: 2em
    font-size: 1.8em
    height: 2em
    margin-bottom: 2em
    margin-left: 3em
    padding-left: 1em
    width: 15em

.map-addPlace::placeholder
  color: $bgGrayLigth
  padding-left: 1em

.map-icon
  background-color: rgba(192,192,192,0.5)
  border-radius: 1.5em
  margin-top: 12em
  margin-left: 2em
  padding: .5em 0 .5em 1em
  width: 10%
  height: 9em
  align-items: center

.map-table
  color: $color
  font-size: 1.1em

.map-table li
  padding: .1em

.map-table img
  margin-right: .5em

#map-details
  display: flex
  width: 90%
  margin: .5em auto

.details-title
  width: 50%
  font-family: $title
  color: $color
  font-size: 1.8em
  text-align: center

.details-infos
  padding: 1em

#place-add
  font-size: 1.5em
  margin-left: .5em
