@require "app/styles/charte"

#map
    background-color: $bgSalmon
    height: auto
    margin: auto
    display: block
    flex-direction: column

.map-title
    font-family: $title
    font-size: 3em
    text-align: center
    color: $color
    padding-top: 0.5em
    padding-bottom: 1em

.map-image
    width: 80%
    margin: 2em auto


.map-addPlace
    margin-left: 14em
    margin-bottom: 2em
    border: none
    border-radius: 2em
    height: 4em
    width: 24em
    font-size: 1.2em
    padding-left: 1em

.map-addPlace::placeholder
  padding-left: 1em
  color: #ccc

.map-icon
  background-color: $bgGrayLigth
  width: 25%
  margin: 2em auto
  padding: 1em
  border-radius: 1.5em

.map-table
  color: $color
  font-size: 1.8em
  padding-right:1em

.map-table img
  margin-right: 0.5em
