#chatBtn
	position: absolute
	right: 0
	top: 50%
	cursor: pointer
	font-size: 1.5em
	color: blue
	margin: .3em

	&-toggle
		margin-right: 1em
		&::before
			transform: rotate(0)
			transition: 0.6s
			content: "Chat"
			display: block
			font-weight: bold

	&.chat--open
		transform: translateX(0);
	&.chat--open &
		&-toggle
			&::before
				transform: rotate(0);
