@require "app/styles/charte"

#chatBtn
	position: absolute
	right: 0
	top: 23%
	cursor: pointer
	font-size: 2.5em
	color:  $bgBtn
	margin: .3em

.chat
	display: none
.chatVisible
	display: block

@media screen and (min-width: 500px)
	#chatBtn
		top: 80%
		color: $bgBtn
@media screen and (min-width: 1200px)
	#chatBtn
		top: 75%
		color: $bgBtn
