@require "app/styles/charte"

// .mapField-check
//     border-radius: 4px
//     height: 18px
//     width: 18px
//     background: #fff
//     border: 1px solid #ccc
//
// .mapField-check:checked
//   background: $bgBlueDuck
//   margin:0px
//   position: relative
//   &:before
//     display: block
//     position: absolute
