@require "app/styles/charte"

#chat
	position:fixed
	// top: 15%
	// left: 50%
	border: 3px solid #046380
	border-radius: 12px
	background: #f5f5f5
	// background: linear-gradient(50deg, $bgBtn, $color)
	overflow: hidden
	color: $color
	width: 50em
	height: 30em

	&.chat
		display: none
		padding-left: 1.5em
		padding-top: 1.5em
	&.chat--open
		display: flex

	&-display
		margin-left: 1em
		margin-right: 1em
		width: 95%

#chatClose
#chatEdit
	font-size: 2em
	color: #046380

@media (min-width: 1024px)
	#chat
		left: 39%
		top: 37%

#chatEdit
	position: absolute
	bottom: .3em
