@require "app/styles/charte"

#chat
	position:fixed
	top: 35%
	left: 10%
	border: 3px outset $bgBtn
	border-radius: 12px
	background: linear-gradient(50deg, $bgBtn, $color)
	overflow: hidden
	color: $color
	width: 50em
	height: 30em

	&.chat
		display: none
		padding-left: 1.5em
		padding-top: 1.5em
	&.chat--open
		display: flex

	&-display
		margin-left: 2em
		width: 95%

@media (min-width: 1024px)
	#chat
		left: 53%
		top: 50%
