@require "app/styles/charte"

.subscribe
	position: relative
	display: block
	height: 10em
	color: $bgBlueSky

	&-input
		border: none
		color: $color
		border-radius: 10px
		background-color: #C2D5DF
		position: relative
		font-size: 1.5em
		height: 4em
		width: 90%
		margin: 1em
		padding: 0 1em

		&::placeholder
			color: $bgBlueSky
			font-size: .8em

	&-label
		text-align: left
		font-size: 1.5em
		height: 4em
		width: 90%
		margin: auto
		padding: 0 1em

	&--has-error &
		&-input
			border-color: $bgBlueHard
		&-label
			color: $bgBlueHard

.field-mandatory
	margin-left: .5em

.field-not-mandatory
	margin-left: .5em
	color: #9BBBCB

@media screen and (min-width: 1024px)
	.subscribe
		height: 3.5em
	.subscribe-input
		width: 50%
		height: 1.8em
		font-size: 1.2em
	.subscribe-label
		display: inline-block
		width: 35%
		text-align: left
		height: 2.75em
		font-size: 1.2em

@media screen and (min-width: 1200px)
	.subscribe-label
		width: 25%
