@require "app/styles/charte"

.subscribe
	position: relative
	display: block
	height: 3.5em
	color: $bgBlueSky

	&-input
		border: none
		color: $color
		border-radius: 10px
		background-color: #C2D5DF
		position: relative
		font-size: 1.2em
		height: 1.8em
		width: 50%
		margin: .4em 0
		padding: 0 1em

		&::placeholder
			color: $bgBlueSky
			font-size: .8em

	&-label
		display: inline-block
		text-align: left
		font-size: 1.2em
		height: 2.75em
		width: 25%
		margin: .4em 0
		padding: 0 1em

	&--has-error &
		&-input
			border-color: $bgBlueHard
		&-label
			color: $bgBlueHard

.field-mandatory
	margin-left: .5em

.field-not-mandatory
	margin-left: .5em
	color: #9BBBCB
