@require "app/styles/charte"

#loginform
	margin: 1em

	&-title
		color: #51483f
		font-family: $title
		font-size: 2em
		padding-bottom: .5em

	&-desc
		font-size: 1em
		font-family: $title
		line-height: 1.4
		margin: .25em 0

	&-submit
		background: $bgBlueDuck
		border: 0
		border-radius: 10px
		color: $color
		font-size: 1em
		font-weight: 700
		display: block
		margin: 1em 0
		text-transform: uppercase
		height: 3.3em
		width: 100%

		&.loginform-submit--login
			display: flex
			align-items: center
			justify-content: center

#passwordSend
	&.password
		display: none
	&.password--send
		font-family: $title
		font-size: 1.15em
		padding: .5em
		display: block
		color: $bgBlueDuck

#errorLogin
	&.errorLogin
		display: none
	&.errorLogin--true
		font-family: $title
		font-size: 1.15em
		padding: .5em .5em 0
		display: block
		color: $bgBlueDuck
