@require "app/styles/charte"


/*
 * ID
 */
#loginform
	margin: 1em

	&-title
		color: #51483f
		font-family: 'Pacifico'
		font-size: 2em

	&-desc
		font-size: 1em
		font-family: 'Pacifico'
		line-height: 1.4
		margin: .25em 0

	&-submit
		background: $colorBlue
		border: 0
		border-radius: 10px
		color: #fff
		font-size: 1em
		display: block
		text-transform: uppercase
		height: 3.3em
		width: 100%

		&.loginform-submit--login
			display: flex
			align-items: center
			justify-content: center
