@require "app/styles/charte"

#footer
    background-color: $color
    height: 3em
    width: 100%
    padding-top: 1em
    color: black
    display: flex
    justify-content: space-around
    bottom: 0
    // position: fixed

.footer-title
    font-size: 1.5em
    padding-left: 5em


.footer-cgu
    font-size: 1em
    padding-top: 0.2em



.footer-contact
    font-size: 1em
    margin-right: 5em
    padding-top: 0.2em

.footer-sociaux
    margin-right: 2em
    font-size: 1.5em

.fa-facebook-f
    margin-right: 0.5em

#footer-logo
  font-family: $title
