@require "app/styles/charte"

#details
    display: block
    flex-direction: column
    width: 50%
    margin: auto

#place-submit
#place-close
	background-color: $bgBlueDuck
	border: none
	border-radius: 1em
	color: $color
	display: block
	font-size: 1.5em
	height: 2.5em
	padding: 0.5em
	text-align: center
	text-transform: uppercase
	margin: .5em auto 0
	width: 10em
	&.add
		display: none
	&.add--true
		display: block

#newPlaceSend
	&.newPlace
		display: none
	&.newPlace--true
		font-family: $title
		font-size: 1.5em
		padding: .5em
		display: block
		color: $bgGray

.mandatory-map
  text-align: center
  // color : $color
