@require "app/styles/charte"

#subscribe-dog-image
	position: relative
	display: block
	padding: 0 1em 1em

	&-label
		font-size: 1.2em

	&-upload
		background-color: $bgPeche
		color: $color
		padding: .2em
		font-size: 1.2em
		border: 1px solid $border
		border-radius: 10px

	&-file
		padding: 0 1em
