@require "app/styles/charte"

#chat-form
	// height: 5vh
	border: 1px solid $bgPink


	&-input
		width: 85%
		background: linear-gradient(to right, $color, $bgPinkPastel)
		border: 0
		font-size: 1.2em
		padding: .5em 1em
		&::placeholder
			color: $bgPink

#chat-submit
	width: 15%
	text-transform: uppercase
	font-size: 1em
	background-color: $color
	border: none
	padding: .65em
	color: $bgPink
