@require "app/styles/charte"

#chat-form
	border: 1px solid $bgBtn




	&-input
		width: 100%
		background: linear-gradient(to right, $bgPinkPastel, $bgBtn)
		border: 0
		font-size: 1.2em
		padding: .5em 1em
		color: $bgGray
		&::placeholder
			color: $color
