@require "app/styles/charte"

#contactBtn
	position: fixed
	right: 0
	top: 4%
	cursor: pointer
	font-size: 2.5em
	color:  $bgBtn
	margin: .3em

@media screen and (min-width: 500px)
	#contactBtn
		top: 72%

@media screen and (min-width: 1200px)
	#contactBtn
		top: 80%
