@require "app/styles/charte"

#contactBtn
	position: absolute
	right: 0
	top: 25%
	cursor: pointer
	font-size: 2.5em
	color:  $bgBtn
	margin: .3em



@media screen and (min-width: 1200px)
	#contactBtn
		top: 80%
		color: $bgBtn
