@require "app/styles/charte"

#cgu

  background-color: $bgBlue
  display: flex
  justify-content: center
  height: 100vh
  font-family: $text

.cgu
  background-color: $color
  width: 50%
  margin-top: 10em
  margin-bottom: 5em

  &-title
    font-size: 2em
    text-align: center
    margin-bottom: 2em
    margin-top: 2em

  &-text
    font-size: 1.5em
    text-align: justify
    margin: 1.8em
