@require "app/styles/charte"

#cgu
  animation: pulse 5s infinite
  display: flex
  font-family: $text
  justify-content: center
  height: 75em

@keyframes pulse
  0%
    background-color: $bgPink
  50%
    background-color: $bgPeche

  100%
    background-color: $bgSalmon



.cgu
  background-color: $color
  border-radius: 3%
  margin-top: 10em
  width: 75%
  // margin-bottom: 7em

  &-title
    font-size: 1.7em
    font-family: $title
    margin-bottom: 2em
    margin-top: 2em
    text-align: center
    text-decoration: underline
  &-text
    font-size: 1.6em
    font-weight: 500
    margin: 1.8em
    text-align: justify


// @media screen and (min-width: 500px)




@media screen and (min-width: 1200px)

  #cgu
    height: auto
    padding-top: 1.3em
  .cgu
    width: 50%
    margin-bottom: 4em
    margin-top: 8em
    &-title
      font-size: 2em
      &-text
        font-size: 1.4em
        margin: 1em
