@require "app/styles/charte"

#subscribe
  // padding-top: 10em
	margin: 1em 0
  padding: 8em 20em
  background-color: $bgPeche
  color: $color

  &-title
    font-family: 'Pacifico'
    text-align: right
    font-size: 2em
    padding-bottom: .5em

#subscribe-submit
	border: 1px solid $color
	border-radius: 0
	font-size: 1em
	display: block
	text-transform: uppercase
	height: 3.3em
	width: 100%

#subscribe-me
.subscribe-dog
  border: 1px solid $color
  border-radius: 10px
  margin-bottom: 2em

.subscribe-dog-title
  font-family: 'Pacifico'
  text-align: right
  font-size: 1.2em
  padding: .5em

.password
  display: none
  padding: 0 0 0.5em 0.5em
  font-size: 1.5em
  font-family: 'Pacifico'
.error-password
  display: block
  color: $color
