.footer {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;

  span {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    padding: 0.4em;
  }

  &__cgu a {
    color: black;
  }

  &__social i {
    padding: 0.5em;
  }
}
