.sidebar {
  color: white;

  h2 {
    font-size: 1.7em;
    text-transform: uppercase;
    margin-bottom: 1em;
    @media (max-width: 980px) {
      font-size: 1.3em;
      justify-content: center;
      display: flex;
      margin-top: 2em;
    }
  }

  a {
    border: solid 1px white;
    border-radius: 1em;
    color: white;
    padding: 0.5em 1.5em;
      @media (max-width: 768px){
        border: none;
      }
      
  }

  li {
    margin-bottom: 2em;
    margin-left: 1em;
      @media (max-width: 768px){
        margin-bottom: 0;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
      }
  }

  &__posts {
    h2 {
      margin-top: 3em;
    }

    input {
      border: none;
      border-radius: 1em;
      padding: 0.5em;
      margin-right: 0.5em;
      margin-bottom: 7em;
      margin-left: 1em;
        @media (max-width: 908px) {
          margin-bottom: 1em;
        }
        @media (max-width: 768px){
          margin-left: 1em;
        }
    }

    button {
      border: none;
      background-color: #E80C7A;
      padding: 1em;
    }
  }

  &__category {
    list-style: none;
  }
}

.searchform div {
  @media (max-width: 768px){
    display: flex;
    justify-content: center;
  }
}
