@require "app/styles/charte"

/*
 * Classes
 */
.subscribe-dog-sex
	position: relative
	display: block
	// text-align: center
	padding-bottom: 1em
	color: #0A71A4
	font-size: 1.2em
	padding-left: 1em

	&-label
		margin-right: 1em
	&-label input
		margin-left: 25em
