@require "app/styles/charte"

.subscribe-dog-gender
	position: relative
	display: block
	padding-bottom: 1em
	color: $bgBlueSky
	font-size: 1.2em
	padding-left: 1em

	&-label
		margin-right: 1em

.subscribe-dog-gender-first
	margin-left: 17rem
