@require "app/styles/charte"

#nav
    background-color: $bgPeche
    color: $color
    position: fixed
    width: 100%
    display: flex
    justify-content: space-between


    &-title
        padding-left:3em
        padding-top: 0.8em
        padding-bottom: 0.8em

    &-h1
        font-family: $title
        font-size: 3em

    &-p
            font-size: 1em
            font-family: $text
            padding-top: 1em

#button


    &-connexion, &-inscription
            border: 1px solid $border
            border-radius: 1em
            font-size: 1.5em
            background-color: $bgPeche
            color : $color
            font-family: $text
            margin-top: 1.5em
            margin-right: 2em

.button
  border: 1px solid $border
  border-radius: 1em
  font-size: 1.5em
  background-color: $bgPeche
  color : $color
  font-family: $text
  margin-top: 1.5em
  margin-right: 2em
