@require "app/styles/charte"

#nav
    background-color: $bgNav
    color: $color
    position: fixed
    width: 100%
    display: flex
    justify-content: space-between
    padding-top: 1em
    z-index: 1
    border-bottom: 1px solid white


    &-title
        padding-left:6em
        padding-top: 0.8em
        padding-bottom: 0.8em

    &-h1
        font-family: $title
        font-size: 3em

    &-p
            font-size: 1em
            font-family: $text
            padding-top: 1em

#button
    margin-top: 1.7em

    .button-nav

            border: 1px solid $border
            border-radius: 1em
            color : $color
            font-size: 1.5em
            font-family: $text
            margin-right: 4em
            padding: 0.3em
