@require "app/styles/charte"


#nav
    background-color: lighten($bgPeche, 15%)
    color: $color
    display: flex
    justify-content: space-between
    padding-top: 1em
    position: fixed
    width: 100%
    z-index: 1

    &-title
        padding-bottom: .8em
        padding-left:3.8em
        padding-top: .8em

    &-h1
        font-family: $title
        font-size: 3em

    &-p
        font-family: $text
        font-size: 1em
        padding-top: 1em



#button
    margin-top: 1.7em

    .button-nav
            border: 2px solid $color
            border-radius: 1em
            color: $color
            font-family: $text
            font-size: 1.2em
            margin-right: 2em
            padding:.5em 1.5em
            
@media screen and (min-width: 1200px)
    .button-nav
            margin-right: 4em
