@require "app/styles/charte"

#profile
  background-color: #9BBBCB
  padding: 8em 10em 5em
  height: 95vh
  &-title
    color: #0A71A4
    font-family: $title
    font-size: 2em
    padding-bottom: 1em
    text-align: right

.profile
  display: none
.profile--modified
  display: block
  background-color: #0A71A4
  border: none
  border-radius: 1em
  color: $color
  font-size: 1.5em
  padding: 0.5em
  text-align: center
  margin: auto
  text-transform: uppercase
.profile--confirm
.profil--deleted
  display: block
  font-family: $title
  color: #0A71A4
  text-align: center
  font-size: 1.5em
  padding-bottom: .5em

#subscribe-me
.subscribe-dog
  border: 1px solid $color
  border-radius: 10px
  margin-bottom: 1em

.subscribe-dog-title
  font-family: $title
  font-size: 1.5em
  margin-top: .5em
  color: $color
  padding-bottom: .5em
.password
  display: none
  font-family: $title
  font-size: 1.5em
  padding: 0 0 0.5em 0.5em
.error-password
  color: $color
  display: block

.mandatory
  color : #0A71A4
  margin-bottom: .1em

#profileButtons
  display: flex
