@require "app/styles/charte"

#profile
  background-color: #9BBBCB
  padding: 10em 10em 5em
  height: 95vh
  &-title
    color: #0A71A4
    font-family: $title
    font-size: 2em
    padding-bottom: 1em
    text-align: right

#profile-submit
  background-color: #0A71A4
  border: none
  border-radius: 1em
  color: $color
  font-size: 1.5em
  padding: 0.5em
  text-align: center
  text-transform: uppercase


#subscribe-me
.subscribe-dog
  border: 1px solid $color
  border-radius: 10px
  margin-bottom: 2em

.subscribe-dog-title
  font-family: $title
  font-size: 1.5em
  margin-top: .5em
  color: $color
  padding-bottom: .5em
  // margin-right: 1em
  // text-align: left
.password
  display: none
  font-family: $title
  font-size: 1.5em
  padding: 0 0 0.5em 0.5em
.error-password
  color: $color
  display: block
