@require "app/styles/charte"

#login
	position: absolute
	top: 0
	left: 0
	border-radius: 10px
	max-width: 360px
	margin: 3em auto
	background-color: $bgBlu
	overflow: hidden
	color: #222
	height: 40vh
	margin: 20vh 5vw
	&.login
		display: none
	&.login--open
		display: block

@media (min-width: 1024px)
	#login
		width: 50vw
		margin: 20vh 25vw
